<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="CATax" class="th.ku.CATaxCalculator"/>
    <bean id="NYTax" class="th.ku.NYTaxCalculator"/>
    <bean id="register" class="th.ku.CashRegister">
        <constructor-arg name="location" type="String" value="CA" />
        <constructor-arg name="taxCal" ref="CATax"/>
    </bean>

</beans>
